openapi: 3.0.1
info:
  title: 微信小程序相关接口
  version: 1.0.0
servers:
- url: https://api.weixin.qq.com
paths:
  /sns/jscode2session:
    get:
      parameters:
      - description: 小程序 appId
        explode: true
        in: query
        name: appid
        required: true
        schema:
          type: string
        style: form
      - description: 小程序 secret
        explode: true
        in: query
        name: secret
        required: true
        schema:
          type: string
        style: form
      - description: 登录时获取的 code
        explode: true
        in: query
        name: js_code
        required: true
        schema:
          type: string
        style: form
      - description: 授权类型，此处只需填写 authorization_code
        explode: true
        in: query
        name: grant_type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jscode2sessionRsp'
          description: ""
      summary: 登录凭证校验。
      tags:
      - mpauth
  /cgi-bin/token:
    get:
      parameters:
      - description: 小程序 appId
        explode: true
        in: query
        name: appid
        required: true
        schema:
          type: string
        style: form
      - description: 小程序 secret
        explode: true
        in: query
        name: secret
        required: true
        schema:
          type: string
        style: form
      - description: 授权类型，此处只需填写 client_credential
        explode: true
        in: query
        name: grant_type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRsp'
          description: ""
      summary: 获取小程序全局唯一后台接口调用凭据（access_token）。
      tags:
      - mpauth
  /wxa/getwxacodeunlimit:
    get:
      parameters:
      - description: access_token
        explode: true
        in: query
        name: access_token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getwxacodeunlimitReq'
        required: true
      responses:
        "200":
          content:
            multipart/form-data:
              schema:
                format: binary
                type: string
          description: 二维码二进制 or getwxacodeunlimitRsp
      summary: 获取小程序全局唯一后台接口调用凭据（access_token）。
      tags:
      - mpauth
components:
  schemas:
    TokenRsp:
      example:
        errcode: 0
        access_token: access_token
        errmsg: errmsg
        expires_in: 6
      properties:
        errcode:
          description: 返回码
          type: integer
        errmsg:
          description: 对返回码的文本描述内容
          type: string
        access_token:
          description: access_token
          type: string
        expires_in:
          description: expires_in
          type: integer
    jscode2sessionRsp:
      example:
        errcode: 0
        unionid: unionid
        openid: openid
        session_key: session_key
        errmsg: errmsg
      properties:
        errcode:
          description: 返回码
          type: integer
        errmsg:
          description: 对返回码的文本描述内容
          type: string
        openid:
          description: 用户唯一标识
          type: string
        session_key:
          description: 会话密钥
          type: string
        unionid:
          description: 用户在开放平台的唯一标识符，若当前小程序已绑定到微信开放平台帐号下会返回，详见UnionID机制说明。
          type: string
    getwxacodeunlimitReq:
      properties:
        scene:
          description: "是\t最大32个可见字符，只支持数字，大小写英文以及部分特殊字符：!#$&'()*+,/:;=?@-._~，其它字符\
            请自行编码为合法字符（因不支持%，中文无法使用 urlencode 处理，请使用其他编码方式）"
          type: string
        page:
          description: "主页\t否\t页面 page，例如 pages/index/index，根路径前不要填加 /，不能携带参数（参数请放\
            在scene字段里），如果不填写这个字段，默认跳主页面"
          type: string
        check_path:
          description: "true\t否\t检查page 是否存在，为 true 时 page 必须是已经发布的小程序存在的页面（否则报错）；\
            为 false 时允许小程序未发布或者 page 不存在， 但page 有数量上限（60000个）请勿滥用"
          type: boolean
        env_version:
          description: "release\"\t否\t要打开的小程序版本。正式版为 \"release\"，体验版为 \"trial\"，开发\
            版为 \"develop\""
          type: string
        width:
          description: "430\t否\t二维码的宽度，单位 px，最小 280px，最大 1280px"
          type: integer
        auto_color:
          description: "false\t否\t自动配置线条颜色，如果颜色依然是黑色，则说明不建议配置主色调，默认 false"
          type: boolean
        line_color:
          $ref: '#/components/schemas/getwxacodeunlimitReq_line_color'
        is_hyaline:
          description: "false\t否\t是否需要透明底色，为 true 时，生成透明底色的小程序"
          type: boolean
    getwxacodeunlimitRsp:
      properties:
        errcode:
          description: 返回码
          type: integer
        errmsg:
          description: 对返回码的文本描述内容
          type: string
    getwxacodeunlimitReq_line_color:
      description: "{\"r\":0,\"g\":0,\"b\":0}\t否\tauto_color 为 false 时生效，使用 rgb 设置\
        颜色 例如 {\"r\":\"xxx\",\"g\":\"xxx\",\"b\":\"xxx\"} 十进制表示"
      properties:
        r:
          type: integer
        g:
          type: integer
        b:
          type: integer
      type: object
